{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="card" style="max-width: 400px; margin: 0 auto;">
        <h1>Créer un compte</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            <button type="submit" class="btn btn-primary" style="width:100%">S'inscrire</button>
        {{ form_end(registrationForm) }}

        <br>
        <p style="text-align:center">Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
    </div>
{% endblock %}