{% extends 'base.html.twig' %}

{% block title %}Accueil — SymfoConnect{% endblock %}

{% block body %}
    <h1>Derniers posts</h1>

    {% for post in posts %}
        <div class="card">
            <p>{{ post.content }}</p>
            <small>
                Par <a href="{{ path('app_profile', {username: post.author.username}) }}">
                    {{ post.author.username }}
                </a>
                — {{ post.createdAt|date('d/m/Y H:i') }}
            </small>

            <br><br>

            {% if app.user %}
                <a href="{{ path('app_post_like', {id: post.id}) }}" class="btn btn-primary">
                    {% if post.likes.contains(app.user) %}
                        ❤️ {{ post.likes|length }}
                    {% else %}
                        🤍 {{ post.likes|length }}
                    {% endif %}
                </a>

                {% if app.user.id == post.author.id %}
                    <a href="{{ path('app_post_supprimer', {id: post.id}) }}"
                       class="btn btn-danger"
                       onclick="return confirm('Supprimer ce post ?')">
                        🗑️ Supprimer
                    </a>
                {% endif %}
            {% else %}
                🤍 {{ post.likes|length }}
            {% endif %}
        </div>
    {% else %}
        <p>Aucun post pour le moment.</p>
    {% endfor %}
{% endblock %}